:root {
  --primary-color: #ffdd00;
}

body {
  margin: unset;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 15px;
}

a {
  text-decoration: unset;
  color: var(--primary-color);
}

h1 {
  margin-right: 13px;
  margin-left: 13px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  border-radius: 22px;
  padding-left: 63px;
  color: #fff;
  background: transparent;
  text-transform: uppercase;
}

.input:focus {
  outline: none;
}

.btn {
  background: linear-gradient(180deg, #5c006a 0%, #44034f 100%);
  border: 2px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 30px;
  text-transform: uppercase;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.btn:hover {
  background: linear-gradient(180deg, #470052 0%, #33033b 100%);
}

.banner-container {
  display: flex;
  background: url(./assets/images/banner.svg);
  background-size: 100% auto !important;
  height: var(--banner-height);
  width: 100%;
  background-repeat: no-repeat;
}

.extra-img {
  height: var(--image-height);
  position: relative;
  margin-top: 9.9%;
  margin-left: auto;
  margin-right: 8.2%;
}

.form-card {
  position: absolute;
  top: var(--form-top);
  padding: 36px 30px 36px 30px;
  margin: 0px 80px 30px 80px;
  border-radius: 20px;
  background: linear-gradient(180deg, #5c006a 0%, #44034f 100%);
}

.divider-line {
  background: rgba(255, 255, 255, 0.75);
  opacity: 0.7;
  border-radius: 4px;
  height: 2px;
  width: 100%;
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  position: relative;
  height: 45px;
  align-self: flex-end;
  text-transform: uppercase;
}

.checkbox > input {
  height: 17px;
  width: 17px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 3px solid white;
  transition-duration: 0.2s;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 12px;
}

.checkbox > input:checked {
  background-color: var(--primary-color);
}

.user-info-input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 15px;
}

.submit {
  width: 100%;
  height: 60px;
  margin-left: auto;
}

@media screen and (max-width: 1000px) {
  .user-info-input-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .user-info-input-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .form-card {
    margin: 0px 16px 30px 16px;
  }
}
