:root {
  --primary-color: #ffdd00;
  --secondary-color: #32023a;
}

body {
  margin: unset;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 15px;
}

a {
  text-decoration: unset;
  color: var(--primary-color);
}

h1 {
  margin-right: 13px;
  margin-left: 13px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

article {
  margin-bottom: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  border-radius: 22px;
  padding-left: 63px;
  color: #fff;
  background: transparent;
  text-transform: uppercase;
}

.input:focus {
  outline: none;
}

.btn {
  background: linear-gradient(180deg, #5c006a 0%, #44034f 100%);
  border: 2px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 30px;
  text-transform: uppercase;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.secondary-btn {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-color);
  height: 60px;
  background: #00aeef;
  border-radius: 30px;
  width: 345px;
}

.btn:hover {
  background: linear-gradient(180deg, #470052 0%, #33033b 100%);
}

.banner-container {
  display: flex;
  background: url(./assets/images/banner.svg);
  background-size: 100% auto !important;
  height: var(--banner-height);
  width: 100%;
  background-repeat: no-repeat;
}

.extra-img {
  height: var(--image-height);
  position: relative;
  margin-top: 9.9%;
  margin-left: auto;
  margin-right: 8.2%;
}

.footer-container {
  height: 60px;
  background: linear-gradient(180deg, #5c006a 0%, #44034f 100%);
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 30px 9px 30px;
  display: flex;
  align-items: center;
  bottom: 0;
}
